{% extends "base.html.twig" %}
{% block body %}
<h1>Register a bet</h1>
<form action="{{ path('register_bet') }}" method="post">
    <p>
        <input type="email" name="email" placeholder="Your email" required />
    </p>
    <p>
        <input type="text" name="game" placeholder="Game. FRABRE for France-Brasil for example." required />
    </p>
    <p>
        <input type="number" name="left-score" placeholder="Left score" required />
    </p>
    <p>
        <input type="number" name="right-score" placeholder="Right score" required />
    </p>

    <button type="submit">Bet</button>
</form>

<h1>Registered bets</h1>
<table>
    <thead>
    <tr>
        <th>Who</th>
        <th>Game</th>
        <th>Left</th>
        <th>Right</th>
    </tr>
    </thead>
    <tbody>
    {% for bet in bets %}
    <tr>
        <td>{{ bet.username }}</td>
        <td>{{ bet.game }}</td>
        <td>{{ bet.leftScore }}</td>
        <td>{{ bet.rightScore }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">Nothing yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
